<template>
    <div>
    <b-navbar toggleable="md" variant="white" class="fixed-top">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand to="/" style="width: 170px">
      <img  src="/img/motomco-group.png" class="d-inline-block align-top expand" alt="BV" >
    </b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/produtos">Produtos</b-nav-item>
          <b-nav-item to="/vendas">Vendas</b-nav-item>
          <b-nav-item to="/locacao">Locação</b-nav-item>
          <b-nav-item to="/assist">Assistência</b-nav-item>
          <b-nav-item to="/contact">Contato</b-nav-item>
          <b-nav-item to="/validador">Validador de Resultados</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <template v-if="$store.state.user.isAuthenticated">
            <b-nav-item v-if="$store.state.user.isAuthenticated" to="/dashboard">Dashboard</b-nav-item>
            <b-nav-item-dropdown :text="this.$store.state.user.firstName + ' ' + this.$store.state.user.lastName" right>
              <b-dropdown-item to="/users">My account</b-dropdown-item>
              <b-dropdown-item @click="signOut" >Logout</b-dropdown-item>
            </b-nav-item-dropdown>
            <v-gravatar :email="this.$store.state.user.email" class="rounded-circle mt-1" rounded="circle" width="30px" height="30px"/>
          </template>
          <template v-else>

            <b-dropdown-item to="/users/auth/sign-in">Login</b-dropdown-item>
            <b-dropdown-item to="/users/auth/sign-up">Sign up</b-dropdown-item>
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

  <b-container fluid>
    <no-ssr>
      <notifications/>
    </no-ssr>
    <nuxt></nuxt>

    </b-container>
<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img src="/img/motomco-logo.png">
          <small class="d-block mb-3 text-muted">Desde 1995 © MOTOMCO Group - Todos os direitos reservados.</small>
        </div>
        <div class="col-6 col-md">
          <h5>Produtos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Medidores de Umidade</a></li>
            <li><a class="text-muted" href="#">Homogeneizadores</a></li>
            <li><a class="text-muted" href="#">Quarteadores</a></li>
            <li><a class="text-muted" href="#">Termômetros</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Lupas Especiais</a></li>
            <li><a class="text-muted" href="#">Acessórios</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Sobre</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">História</a></li>
            <li><a class="text-muted" href="#">Nossas Unidades</a></li>
            <li><a class="text-muted" href="#">Clientes</a></li>
            <li><a class="text-muted" href="#">Eventos</a></li>
            <li><a class="text-muted" href="#">Cotações</a></li>
            <li><a class="text-muted" href="#">Notícias Agrícolas</a></li>
          </ul>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Outros</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Área Restrita</a></li>
            <li><a class="text-muted" href="#">Contato</a></li>
            <li><a class="text-muted" href="#">Trabalhe Conosco</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {

    }
  },
  methods: {
    signOut () {
          this.$store.dispatch('user/signOut').then(() => {
            if (this.$store.state.notification.success) this.$router.replace(this.redirect)
          })
        }
  }
}
</script>

<style>
.dropdown-item.active, .dropdown-item:active {
  background-color: #568961;
}
img.expand { width: 8em; }
footer{}
.dropdown-item:hover, .dropdown-item:focus{
  outline: none !important;
}
.bg-white{

}
.navbar-toggler{
  width: 50px;
}
.container-fluid {
  padding-top: 80px;
}
.dropdown-item{
  font-size: 15px;
}

</style>
  