<template>
  <v-container>
    <h1>
      {{ error.statusCode }}
    </h1>
    <h2>
      {{ error.message }}
    </h2>
    <b-button variant="danger" router to="/" v-if="error.statusCode === 404">Home</b-button>
  </v-container>
</template>

<script>
export default {
  props: ['error']
}
</script>
