<template>

  <div id="app">
    <b-carousel id="carousel1"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                img-width="1370"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd">
        <b-carousel-slide img-src="http://motomco.com.br/2014/images/motomco-banner-1.jpg"
        ></b-carousel-slide>
        <b-carousel-slide img-src="http://motomco.com.br/2014/images/motomco-banner-2.jpg"
        ></b-carousel-slide>
        <b-carousel-slide img-src="http://motomco.com.br/2014/images/motomco-banner-3.jpg"
        ></b-carousel-slide>
        <b-carousel-slide img-src="http://motomco.com.br/2014/images/motomco-banner-4.jpg"
        ></b-carousel-slide>
      </b-carousel>
      <notifications group="foo-css"
                     position="bottom left"
                     :speed="500" />
      <hr class="featurette-divider">
      <div class="container marketing" sty>
              <div class="row">
                <div class="col-lg-4">
                  <img class="rounded-circle" src="/img/Motomco-Acessorio-1-a.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>Acessórios</h2>
                  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img class="rounded-circle" src="/img/medidor-umidade-999es.png" alt="Generic placeholder image" width="140" height="140">
                  <h2>Medidores de Umidade</h2>
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img class="rounded-circle" src="/img/Motomco-Homogeneizador-1-a.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>Homogenizador</h2>
                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->


              <!-- START THE FEATURETTES -->

              <hr class="featurette-divider">

              <div class="row featurette">
                <div class="col-md-4 order-md-3">
                  <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 250px; height: 250px;" src="/img/motomco-projeto-loc-solution-1.png" data-holder-rendered="true">
                </div>
                <div class="col-md-4 order-md-2">
                  <h2 class="featurette-heading">Vantagens</h2>
                  <p class="lead">Este equipamento é reconhecido mundialmente e é referência em padrões para determinação de umidade de grãos e subprodutos nos Estados Unidos, Canadá, México e Brasil. Seu sistema é exclusivo e confeccionado de forma que, não permite manipulação de resultados.</p>
                  <button class="btn btn-success">Ler mais</button>
                </div>
                <div class="col-md-4 order-md-1">
                  <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 340px; height: 243px;" src="/img/motomco-projeto-loc-solution-2.png" data-holder-rendered="true">
                </div>
              </div>

              <hr class="featurette-divider">

              <div class="row featurette">
            <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/medidor-umidade-1.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Possui Display TFT 4.3' colorido com Touch Screen e Impressora integrada.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ler mais</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/medidor-umidade-2.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Análise de umidade, temperatura, impureza, grãos avariados e peso hectolitro.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ler mais</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/medidor-umidade-3.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Extremamente preciso e objetivo quanto aos resultados fornecidos.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ler mais</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              </div>

              <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
<!--       <button variant="success"
              style="width: 30%"
              @click="show('foo-css', 'success')">
        <font-awesome-icon :icon="['fab', 'github']" />
        Teste Notification
      </button> -->
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      slide: 0,
      sliding: null,
      id: 0,
      animation: {
        enter: {
          opacity: [1, 0],
          translateX: [0, -300],
          scale: [1, 0.2]
        },
        leave: {
          opacity: 0,
          height: 0
        }
      }
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    show (group, type = '') {
      const text = `
        This is notification text!
        <br>
        Date: ${new Date()}
      `
      this.$notify({
        group,
        title: `Test ${type} notification #${this.id++}`,
        text,
        type,
        data: {
          randomNumber: Math.random()
        }
      })
    },
    clean (group) {
      this.$notify({ group, clean: true })
    }
  }
}
</script>

<style lang="scss">
.container marketing{
  background-color: white;
}
.carousel{
  height: 100%;
}
body {
    //   background: url(/img/bg-geral.jpg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  h2 {
    font-weight: 300;
    a {
      color: black;
      font-size: 12px;
    }
  }
  button {
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    color: white;
    vertical-align: top;
    text-decoration: none;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    transition: all 500ms;
    padding: 12px;
    box-shadow: none;
    background: #02ccba;
    font-weight: 600;
    width: 100%;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px 0px rgba(46,61,73,0.1);
    &.success {
      background: #68CD86;
    }
    &.warn {
      background: #ffb648;
    }
    &.error {
      background: #E54D42;
    }
    &:active {
      opacity: 0.8;
    }
  }
  #app {
    text-align: center;
    color: #2c3e50;
    .content {
      margin: 0 auto;
      max-width: 420px;
    }
  }
}
.sub-button {
  display: inline-block;
  float: right;
  background: #E54D42;
  padding: 4px;
  box-shadow: 0 5px 15px 0px rgba(46, 61, 73, 0.1);
}
/*
  EXAMPLES
*/
.notification.n-light {
  margin: 10px;
  margin-bottom: 0;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 20px;
  color: #495061;
  background: #EAF4FE;
  border: 1px solid #D4E8FD;
  .notification-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    color: #2589F3;
  }
}
.custom-template {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
  font-size: 13px;
  margin: 5px;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  &, & > div {
    box-sizing: border-box;
  }
  background: #E8F9F0;
  border: 2px solid #D0F2E1;
  .custom-template-icon {
    flex: 0 1 auto;
    color: #15C371;
    font-size: 32px;
    padding: 0 10px;
  }
  .custom-template-close {
    flex: 0 1 auto;
    padding: 0 20px;
    font-size: 16px;
    opacity: 0.2;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .custom-template-content {
    padding: 10px;
    flex: 1 0 auto;
    .custom-template-title {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
    }
  }
}
.v-fade-left-enter-active,
.v-fade-left-leave-active,
.v-fade-left-move {
  transition: all .5s;
}
.v-fade-left-enter,
.v-fade-left-leave-to {
  opacity: 0;
  transform: translateX(-500px) scale(0.2);
}
</style>
