<template>
  <v-card class="grey lighten-4 elevation-1">
    <v-container fluid>
      <form @keyup.enter="submit">
        <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input  v-model="username"
                        name="username"
                        label="username" 
                        type="text" 
                        class="form-control" 
                        id="username" 
                        placeholder="Username" 
                        required="" 
                        data-com.agilebits.onepassword.user-edited="yes">
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
        <div class="form-label-group">
        <input           
          v-model="password"
          name="password"
          label="password"
          type="password" 
          id="inputPassword" 
          class="form-control" 
          placeholder="Password" required="">
      </div>
        <button style="margin-top: 15px" type="button" class="btn btn-success" @click.native="submit">Submit</button>
      </form>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: [ 'redirect' ],
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    submit () {
      this.$store.dispatch('user/signIn', {
        username: this.username,
        password: this.password
      }).then(() => {
        if (this.$store.state.notification.success) this.$router.replace(this.redirect)
        else {
          this.username = ''
          this.password = ''
        }
      })
    }
  }
}
</script>
<style>
.dropdown-item.active, .dropdown-item:active {
  background-color: #568961;
}
.btn-success {
    color: #fff;
    background-color: #568961;
    border-color: #568961;
}
</style>